PORT=5001
NODE_ENV=development

# MongoDB Connection String (Replace with your own)
# Example: mongodb+srv://user:pass@cluster.mongodb.net/smart-split
MONGODB_URI=mongodb://localhost:27017/smart-expense-splitter

# JWT Secret for Auth
JWT_SECRET=super_secret_key_123456789

# Frontend Proxy Helper (Vite)
VITE_API_URL=/api
